html, body {
  margin: 20px 0 0 0;
  padding: 0 10px;
}

header, html, body {
  background-color: #F9F2E7;
}

#root {
  height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  background-color: #F9F2E7;
}
